In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("data/columns-removed-loan-data.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.describe()

,Unnamed: 0,loan_amnt,funded_amnt,funded_amnt_inv,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,open_acc,...,tot_coll_amt,tot_cur_bal,open_act_il,open_il_24m,total_bal_il,il_util,open_rv_24m,max_bal_bc,all_util,acc_open_past_24mths
count,1.646801e+06,1.646778e+06,1.646778e+06,1.646778e+06,1.646774e+06,1.646421e+06,1.646749e+06,1.646778e+06,1.646778e+06,1.646749e+06,...,1.576502e+06,1.576502e+06,780649.000000,780649.000000,7.806490e+05,677360.000000,780649.000000,780649.000000,780596.000000,1.596748e+06
mean,8.234000e+05,1.473331e+04,1.472608e+04,1.470244e+04,7.730483e+04,1.852473e+01,3.344311e-01,6.957068e+02,6.997070e+02,1.167475e+01,...,2.399496e+02,1.419925e+05,2.843127,1.588366,3.574491e+04,70.060280,2.851579,5792.969671,59.303724,4.558220e+00
std,4.753906e+05,8.803698e+03,8.800813e+03,8.805917e+03,1.207276e+05,1.098422e+01,9.048755e-01,3.130254e+01,3.130317e+01,5.533156e+00,...,7.603629e+03,1.580211e+05,3.057110,1.597749,4.323724e+04,23.645376,2.622857,5572.597229,20.463210,3.139768e+00
min,0.000000e+00,5.000000e+02,5.000000e+02,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,6.100000e+02,6.140000e+02,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,4.117000e+05,8.000000e+03,8.000000e+03,8.000000e+03,4.600000e+04,1.207000e+01,0.000000e+00,6.700000e+02,6.740000e+02,8.000000e+00,...,0.000000e+00,2.995100e+04,1.000000,0.000000,9.335000e+03,56.000000,1.000000,2370.000000,46.000000,2.000000e+00
50%,8.234000e+05,1.260000e+04,1.260000e+04,1.250000e+04,6.500000e+04,1.789000e+01,0.000000e+00,6.900000e+02,6.940000e+02,1.100000e+01,...,0.000000e+00,8.108800e+04,2.000000,1.000000,2.364000e+04,73.000000,2.000000,4418.000000,60.000000,4.000000e+00
75%,1.235100e+06,2.000000e+04,2.000000e+04,2.000000e+04,9.200000e+04,2.432000e+01,0.000000e+00,7.100000e+02,7.140000e+02,1.400000e+01,...,0.000000e+00,2.116760e+05,3.000000,2.000000,4.638800e+04,86.000000,4.000000,7505.000000,74.000000,6.000000e+00
max,1.646800e+06,4.000000e+04,4.000000e+04,4.000000e+04,1.100000e+08,9.990000e+02,4.200000e+01,8.450000e+02,8.500000e+02,9.700000e+01,...,9.152545e+06,8.524709e+06,57.000000,51.000000,1.711009e+06,1000.000000,60.000000,776843.000000,211.000000,6.400000e+01